:global(.vtex-flex-layout-0-x-flexCol--right-col) .container {
  text-align: center;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-flex-layout-0-x-flexRowContent--breadcrumb-prod) {
  margin-top: 0px;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .homeLink,
:global(.vtex-flex-layout-0-x-flexCol--right-col) .arrow--1 .caretIcon {
  display: none;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .link,
:global(.vtex-flex-layout-0-x-flexCol--right-col) .term {
  color: #4d4d4d;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 700;
}
