.stackItem--product {
  width: 100%;
}

.stackItem--quickview {
  right: 0;
  top: 0;
  left: auto;
}

.stackItem--btn-categorias {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 130%;
}

.stackItem--btn-categoria-dos {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 180%;
}

.stackItem--contenedor-pijamas--img-categoria-dos {
  justify-content: center;
}

.stackItem--image-entre-nosotras {
  width: 100%;
}
