.productHighlightWrapper--collection {
  position: absolute;
  top: 10px;
  left: 5px;
  width: 200px;
}

.productHighlightText {
  display: none;
  font-family: "Raleway", sans-serif;
  font-size: 11px;
  padding: 5px 10px;
}
