.notificationBarContainer {
  background-image: url(https://kayserltda.vteximg.com.br/arquivos/fondo-bottonBar.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-weight: 900;
  font-size: 11px;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 80%;
}

@media (max-width: 991px) {
  .container {
    width: 95%;
  }
}
.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

:global(.vtex-flex-layout-0-x-flexRow--menu-footer) .label {
  color: #666;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-align: left;
  width: 60%;
  white-space: break-spaces;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}
.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  color: #fff;
  border: none;
}
.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #fff;
  font-size: 16px;
}
.inputGroup :global(.vtex-button) {
  background-color: transparent;
  color: #fff;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 30%;
  }
  .infoCardContainer--info-card-home .infoCardImageContainer {
    width: 70%;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}
.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}
.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}
.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}
.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

:global(.vtex-product-context-provider) .container {
  max-width: 90%;
}

.sizeDesktop {
  padding-left: 0px;
}

.imageElement--lovelust-img {
  margin-left: 1rem;
}

.skuSelectorItemImageValue {
  position: relative;
  top: -17px;
}

/* pdp kayser */
:global(.vtex-stack-layout-0-x-stackContainer--product) .productImagesGallerySlide::before,
:global(.vtex-stack-layout-0-x-stackContainer--product) .figure::before {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.045);
}
:global(.vtex-stack-layout-0-x-stackContainer--product) .carouselGaleryCursor {
  cursor: default;
  padding-left: 3px;
}
:global(.vtex-stack-layout-0-x-stackContainer--product) .productImagesThumb {
  margin-bottom: 3px;
}

:global(.vtex-flex-layout-0-x-flexCol--right-col) .productBrand--quickview {
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-product-identifier-0-x-product-identifier--productReference) {
  color: #4d4d4d;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 400;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-product-identifier-0-x-product-identifier--productReference) :global(.vtex-product-identifier-0-x-product-identifier__label) {
  font-size: 0;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-product-identifier-0-x-product-identifier--productReference) :global(.vtex-product-identifier-0-x-product-identifier__label)::before {
  content: "Cod";
  font-size: 13px;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-product-price-1-x-listPrice) {
  color: #666;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-product-price-1-x-sellingPriceValue) {
  color: #ff0000;
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-product-price-1-x-currencyCode) {
  margin-right: 4px;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorName,
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorNameSeparator {
  color: #888;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 800;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-store-components-3-x-skuSelectorSelectorImageValue) {
  display: none;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--talla .skuSelectorName::after {
  content: ":";
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--talla .skuSelectorItem {
  height: auto;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--talla .skuSelectorInternalBox {
  border: revert;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--talla .skuSelectorInternalBox:hover {
  box-shadow: 3px 3px 2px rgba(79, 135, 224, 0.6);
  transition: all 0.4s ease-in-out;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--talla .skuSelectorItemTextValue {
  border: 1px solid #ccc;
  border-radius: 3px;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 800;
  padding: 0.4rem;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--talla .skuSelectorItemTextValue:hover {
  background-color: #2a86e4;
  border: 1px solid #ccc;
  color: white;
  transition: all 0.4s ease-in-out;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--talla .skuSelectorItem--selected {
  background-color: #2a86e4;
  border-radius: 3px;
  box-shadow: 3px 3px 2px rgba(79, 135, 224, 0.6);
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--talla .skuSelectorItem--selected .skuSelectorItemTextValue {
  color: white;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .skuSelectorSubcontainer--talla .frameAround {
  display: none;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .diagonalCross {
  background-image: linear-gradient(to top left, transparent 44%, rgba(255, 0, 0, 0.2) 50%, currentColor 48%, currentColor 52%, transparent 52%);
  opacity: 0.2;
  cursor: not-allowed;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) .valueWrapper--unavailable {
  cursor: none;
  pointer-events: none;
  opacity: 0.2;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-product-quantity-1-x-quantitySelectorTitle) {
  display: none;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-numeric-stepper__minus-button),
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-numeric-stepper__plus-button) {
  background-color: white;
  border: 1px solid #ccc;
  height: 36px;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-numeric-stepper__minus-button__text),
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-numeric-stepper__plus-button__text) {
  color: black;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 400;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-numeric-stepper__input) {
  border-bottom: 1px solid #ccc;
  border-left: none;
  border-right: none;
  border-top: 1px solid #ccc;
  color: #666;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 700;
  height: 36px;
  width: 48px;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-product-quantity-1-x-quantitySelectorContainer) {
  margin-bottom: 0;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-modal-layout-0-x-triggerContainer) {
  align-self: center;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-modal-layout-0-x-triggerContainer) :global(.vtex-menu-2-x-styledLinkContainer) {
  margin-left: 0;
  margin-right: 0;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-modal-layout-0-x-triggerContainer) :global(.vtex-menu-2-x-styledLinkContent) {
  justify-content: flex-start;
  align-items: center;
  color: #4d4d4d;
  font-weight: bold;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-button) {
  background-color: #2a86e4;
  border: none;
  height: 36px;
  min-height: 36px;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-button__label) {
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 800;
  text-transform: capitalize;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-menu-2-x-styledLinkContainer--caracteristicas-producto) {
  margin-left: 0;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-menu-2-x-menuItem--caracteristicas-producto) :global(.vtex-menu-2-x-styledLinkContent--caracteristicas-producto) {
  align-items: center;
  color: #4d4d4d;
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-menu-2-x-accordionIcon--caracteristicas-producto) {
  color: #4d4d4d;
  font-size: 20px;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-menu-2-x-menuItem--caracteristicas-producto) .productDescriptionTitle {
  display: none;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-menu-2-x-menuItem--caracteristicas-producto) :global(.vtex-menu-2-x-submenuAccordion) {
  display: block;
  text-align: center;
  padding-left: 0;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-menu-2-x-menuItem--caracteristicas-producto) :global(.vtex-menu-2-x-submenuAccordion) :global(.vtex-flex-layout-0-x-flexRowContent) {
  margin-bottom: 0;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-menu-2-x-menuItem--caracteristicas-producto) :global(.vtex-menu-2-x-submenuAccordion) :global(.vtex-flex-layout-0-x-flexRowContent) :global(.vtex-store-components-3-x-content) {
  color: #4d4d4d;
  font-family: "Raleway", sans-serif;
  font-size: 13px;
  font-weight: 400;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-store-components-3-x-shareLabel) {
  font-size: 0;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-store-components-3-x-shareLabel)::after {
  color: #4d4d4d;
  content: "Comparte este producto:";
  font-size: 13px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-button):hover {
  opacity: 0.7;
  transition: all 0.4s ease-in-out;
}
:global(.vtex-flex-layout-0-x-flexCol--right-col) :global(.vtex-flex-layout-0-x-flexRow--buy-button) .stretchChildrenWidth {
  padding-right: 0px;
}

/* end pdp kayser */
/* colors kayser */
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem {
  height: 20px;
  width: 20px;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem .skuSelectorInternalBox {
  border-radius: 50%;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem .frameAround {
  border: 2px solid #2a86e4;
  box-shadow: 3px 2px 3px rgba(107, 107, 107, 0.6);
  border-radius: 50%;
  bottom: -0.15rem;
  left: -0.15rem;
  right: -0.15rem;
  top: -0.15rem;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem .skuSelectorItemImageValue {
  display: none;
}
.skuSelectorContainer .skuSelectorSubcontainer--color .skuSelectorNameContainer .skuSelectorOptionsList .skuSelectorItem--branco {
  background-color: white;
}

/* end colors kayser */
/* vtex toast */
:global(.vtex-toast) {
  background-color: #2a86e4;
}

.imageElement--img-shelf {
  width: 115%;
  padding-right: 10%;
  max-width: 115%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.imageElement--img-shelf-2 {
  width: 115%;
  padding-right: 10%;
  max-width: 115%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.img-banner {
  width: 45%;
}
