@media screen and (min-width: 40em) {
  .paper--quickview {
    height: 260px;
    width: 580px;
  }

  .actionsContainer--quickview {
    padding: 0 2rem 2rem 2rem;
  }
}

@media screen and (min-width: 50em) {
  .paper--quickview {
    height: 450px;
    width: 900px;
  }
}

@media screen and (min-width: 75em) {
  .paper--quickview {
    width: calc(100% - 4rem);
    height: auto;
  }
}

@media screen and (min-width: 82em) {
  .actionsContainer--quickview {
    padding: 0 2.5rem 2.5rem 2.5rem;
  }
}

.paper--quickview {
  min-width: 320px;
  max-width: 96rem;
}

.headerContainer--quickview {
  border: none;
  position: absolute;
  right: 0;
}

.actionsContainer--quickview {
  height: 100%;
  width: 100%;
  transition: box-shadow 150ms ease-in-out, border-top 150ms ease-in-out;
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: transparent;
  box-shadow: -4px 0px 27px -12px transparent;
}

.actionsContentWrapper {
  border-top-width: 1px;
  border-top-style: solid;
  border-top-color: #aaa;
  padding-top: 1.5rem;
}

.contentContainer--quickviewContent {
  padding: 2.5rem 0 2.5rem 2rem;
  overflow-x: hidden;
}

.triggerContainer--quickview {
  padding: 0.75rem;
}

.triggerContainer {
  outline: none;
}

.actionsContainer--quickview:not(.actionsContainerEndOfContent--quickview) {
  border-top-color: rgb(238, 238, 238);
  box-shadow: -4px 0px 27px -12px rgba(0, 0, 0, 0.64);

  .actionsContentWrapper {
    border-top-color: transparent;
  }
}

.closeButton {
  padding-right: 1rem;
}

.paper--product-gifts {
  padding: 1.5rem;
}

.modal--modal-como-comprar :global(.vtex-store-components-3-x-imageElement),
.modal--modal-pdp :global(.vtex-store-components-3-x-imageElement) {
  align-self: center;
}

.modal--modal-como-comprar .closeIcon,
.modal--modal-pdp .closeIcon {
  color: #ccc;
  transition: color 0.2s ease-out;
}

.modal--modal-como-comprar :global(.vtex-iframe-0-x-container),
.modal--modal-pdp :global(.vtex-iframe-0-x-container) {
  padding: 2rem;
}

.modal--modal-como-comprar .closeIcon:hover,
.modal--modal-pdp .closeIcon:hover {
  color: rgb(255, 0, 0);
}

.modal--modal-como-comprar .headerContainer,
.modal--modal-pdp .headerContainer {
  border: none;
}

.modal--modal-como-comprar :global(.vtex-rich-text-0-x-container),
.modal--modal-pdp :global(.vtex-rich-text-0-x-container) {
  align-self: center;
  color: #595959;
}

.modal--modal-como-comprar :global(.vtex-rich-text-0-x-heading),
.modal--modal-pdp :global(.vtex-rich-text-0-x-heading) {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.paper--guia_modal {
  border-radius: 0px;
}

.backdrop--guia_modal {
  background-color: transparent;
}

.backdrop--modal-como-comprar,
.backdrop--modal-pdp {
  background-color: rgba(0, 0, 0, 0.4);
}

.triggerContainer
  :global(.vtex-store-components-3-x-imageElement--img-como-comprar) {
  box-shadow: 1px 1px 2px rgba(85, 85, 85, 0.4);
  cursor: pointer;
  width: -webkit-fill-available;
}

@media (max-width: 991px) {
  .triggerContainer
    :global(.vtex-store-components-3-x-imageElement--img-como-comprar) {
    display: none;
  }
}
