.flexRow{
  &--top-menu {
    background: linear-gradient(
      45deg,
      rgb(212, 0, 89) 10%,
      rgb(244, 244, 244) 72%
    );
  }

  &--deals {
    background-color: #a7afbd;
    padding: 14px 0px;
  
    .stretchChildrenWidth,
    .flexCol {
      align-items: center;
    }
  }
}

/* flex menu: topbar & navbar */
.flexRowContent{
  &--top-menu, &--navbar{
    padding: 0 0.5rem;
    @media screen and (min-width: 40em){
      padding: 0 1rem;
    }
    @media screen and (min-width: 80rem) {
      padding: 0 0.25rem;
    }
  }
  &--top-menu{
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0.7rem 0;
    width: 90%;
    :global(.vtex-menu-2-x-styledLinkContainer) {
      padding-bottom: 0px;
      padding-top: 0px;
      margin-left: 0px;
      margin-right: 0px;
    }
  
    :global(.vtex-menu-2-x-styledLink) {
      color: #4d4d4d;
      font-size: 11px;
      font-family: "Raleway", sans-serif;
      font-weight: bold;
    }
  
    :global(.vtex-menu-2-x-styledLinkContent) {
      padding: 0 0.6rem;
      border-right: 2px solid #8e8e8e;
    }
  
    :global(.vtex-menu-2-x-menuItem):first-child
      :global(.vtex-menu-2-x-styledLinkContent) {
      border-left: 2px solid #8e8e8e;
    }
  
    :global(.vtex-rich-text-0-x-paragraph--topbar-left) {
      color: white;
      font-family: "Raleway", sans-serif;
      font-size: 12px;
      font-weight: 800;
      line-height: 13px;
      margin-bottom: 0;
      margin-top: 0;
      width: 80%;
    }
  }
  &--navbar{
    align-items: center;
    background-color: #f0f0f0;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 90%;
    :global(.vtex-menu-2-x-styledLink) {
      color: #4d4d4d;
      font-weight: bold;
      font-size: 13px;
      font-family: "Raleway", sans-serif;
    }
  
    :global(.vtex-menu-2-x-submenuContainer)
      :global(.vtex-menu-2-x-menuContainer) {
      :global(.vtex-menu-2-x-styledLink) {
        color: #4d4d4d;
        font-size: 13px;
        font-weight: 400;
      }
  
      :global(.vtex-menu-2-x-styledLink--header-title) {
        color: #2a86e4;
        font-size: 14px;
        font-weight: 700;
      }
    }
  
    :global(.vtex-menu-2-x-styledLinkContent) {
      align-items: center;
    }
  
    :global(.vtex-menu-2-x-styledLinkContainer--otras) {
      width: min-content;
    }
  
    :global(.vtex-menu-2-x-styledLinkContent--otras) {
      width: 60%;
      white-space: break-spaces;
    }
  
    :global(.vtex-menu-2-x-menuItem) {
      align-self: center;
    }
  
    :global(.vtex-menu-2-x-styledLinkContent--para-ti)::before {
      content: "";
      clear: both;
      height: 23px;
      width: 35px;
      display: inline-block;
      background-image: url(https://kayserltda.vteximg.com.br/arquivos/kayserparati_ico.gif?v=637534287903970000);
      background-size: 100%;
    }
  }
  &--navbar-mobile{
    align-items: center;
    background-color: #f0f0f0;
    border-block-end: 1px solid #c6c6c6;
    :global(.vtex-store-components-3-x-logoContainer) {
      padding-left: 0px;
      padding-right: 0px;
    }
  }
  &--top-menu :global(.vtex-menu-2-x-styledLink):hover,
  &--navbar :global(.vtex-menu-2-x-styledLink):hover{
    color: #8e8e8e;
  }
}
/* end flex menu: topbar & navbar */

/* flex search: filter*/

.flexCol{
  &--filterCol{
    max-width: 500px;
    min-width: 230px;
  }
  &--productCountCol{
    align-items: flex-start;
  }
  &--orderByCol{
    align-items: flex-end;
  }
  &--orderByMobileCol{
    width: 42%;
  }
  &--filterMobileCol {
    width: 38%;
  }
}


.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails {
  &:first-child {
    overflow-y: auto;
    height: 66% !important;
    overflow-x: hidden;
  }

  &:last-child {
    height: 34% !important;
  }
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}

.flexRow--busquedas-footer {
  background: rgb(244, 244, 244);
}

.flexRow--credits {
  background: #e6e6e6;
}


/* landing 01: entre nosotras */
.flexRow{
  &--titulo {
    font-family: "Raleway", sans-serif;
    background-color: #ff0289;
    padding: 4%;
  } 
  &--banner2 {
    font-family: "Raleway", sans-serif;
    width: 100%;
    background-color: #fbcfd7;
    padding: 3%;
    margin-top: 2rem;
  }
  &--contenedor-tallas-sostenes {
    background-color: #fbcfd7;
  }
  &--banner3 {
    font-family: "Raleway", sans-serif;
    width: 100%;
    background-color: #f1ac80;
    padding: 2%;
  }
  &--contenedor-tallas-calzones {
    background-color: #f1ac80;
  }
}

.flexColChild{
  &--img-sostenes-text, &--img-calzones-text {
    width: 80%;
  }
}

.flexRowContent{
  &--contenedor-tallas-sostenes, &--contenedor-tallas-calzones{
    align-items: center;
    justify-content: start;
    height: 80px;
  }
  &--contenedor-link-sostenes, &--contenedor-link-calzones{
    margin: 0% 2%;
    height: 60px;
    margin-top: -3%;
    align-items: center;
    justify-content: left;
    border-bottom: 2px dashed #ff0289;
  }
  &--contenedor-entre-nosotras {
    width: 100%;
  }
  &--contenedor-tallas-sostenes,
  &--contenedor-link-calzones{
    .stretchChildrenWidth{
      width: fit-content !important;
    }
  }
}

.flexCol{
  &--landing-talla-text{
    margin-right: 1rem;
  }
  &--landing-talla-btn{
    flex-direction: row;
    gap: 10px;
  }
}

.flexRowContent--banner2,
.flexRowContent--banner3{
  gap: 10px;
  :global(.vtex-stack-layout-0-x-stackItem){
    :global(.vtex-store-components-3-x-imageElement){
      border-radius: 10px;
    }
  }
}
:global(.vtex-store-components-3-x-imageElement--img-banner){
  width: -webkit-fill-available;
}
/* end entre nosotras*/

/* landing cyber */
.flexRow--cyber{
  background-color: #f7f7f7;
  .flexRowContent--cyber{
    .flexCol--newsletter-cyber{
      justify-content: center;

      .flexColChild--newsletter-cyber{

        :global(.vtex-rich-text-0-x-container--title-newsletter){
          :global(.vtex-rich-text-0-x-wrapper--title-newsletter){
            :global(.vtex-rich-text-0-x-heading){
              color: #2a86e4;
              font-family: 'Raleway', sans-serif;
              font-size: 26px;
              font-weight: 800;
              margin-bottom: 0px;
            }
          }
        }
      }
    }

    :global(.vtex-store-components-3-x-newsletter){
      :global(.vtex-store-components-3-x-container){
        width: 100%;
        :global(.vtex-store-components-3-x-confirmationTitle){
          color: #2a86e4;
          font-family: 'Raleway', sans-serif;
          text-transform: uppercase;
          &::before{
            content: '¡';
          }
        }
        :global(.vtex-store-components-3-x-confirmationText){
          font-family: 'Raleway', sans-serif;
        }
        :global(.vtex-store-components-3-x-form){
          max-width: 95%;
          :global(.vtex-store-components-3-x-label){
            display: none;
          }
          :global(.vtex-input-prefix__group){
            border: none;
            border-radius: 3px;
            box-shadow: 1px 1px 2px rgb(130 130 130 / 40%);
            height: 43px;
            :global(.vtex-styleguide-9-x-input){
              background-color: white;
              color: #4d4d4d;
              font-family: 'Raleway', sans-serif;
              &::placeholder{
                color: #4d4d4d;
              }
            }
          }
          :global(.vtex-store-components-3-x-buttonContainer){
            padding-left: .3rem;
            :global(.vtex-button){
              background-color: #2a86e4;
              color: white;
              font-family: 'Raleway', sans-serif;
              font-weight: 700;
              height: 43px;
              text-transform: capitalize;
              :global(.vtex-button__label){
                font-size: 0;
                &::before{
                  content: "Inscribirme";
                  font-size: 1rem;
                }
              }
            }
          }
        }
      }
    }

    :global(.vtex-rich-text-0-x-paragraph){
      font-family: 'Raleway', sans-serif;
      line-height: 1.5;
      font-weight: 500;
      font-size: .9rem;
    }

    :global(.vtex-rich-text-0-x-listOrdered){
      font-family: 'Raleway', sans-serif;
      font-size: .9rem;
      font-weight: 500;
      line-height: 1.5;
      padding-left: 1rem;
      :global(.vtex-rich-text-0-x-listItem){
        margin-bottom: .6rem;
      }
    }
  }
}
:global(.vtex-flex-layout-0-x-flexRow--mid-cyber){
  background-color: #F9F2AD;
  :global(.vtex-rich-text-0-x-container--title-mid-cyber){
    justify-content: center;
    :global(.vtex-rich-text-0-x-heading){
      color: #F80989;
      font-family: 'Raleway', sans-serif;
      font-size: 26px;
      font-weight: 900;
      margin-bottom: 0;
    }
  }
  :global(.vtex-rich-text-0-x-headingLevel5){
    color: #F80989;
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
  }
  :global(.vtex-rich-text-0-x-paragraph){
    font-size: 1rem;
    line-height: 1.25;
    text-align: center;
  }
}
/* end landing cyber */

//LANDING PARA TI

//ROW SHELF 1

.flexRow--container-img-shelf {
  width: 100%;
  margin-left: 3.5%;
  border-radius: 20px;
  margin-bottom: 5%;
  margin-top: 3%;
  box-shadow: 2px 3px rgba(110, 108, 108, 0.3);
  background-color: white;
  height: 84%;

}

//ROW SHELF 2

.flexRow--container-img-shelf-2 {
  width: 100%;
  margin-left: 3.5%;
  border-radius: 20px;
  box-shadow: 2px 3px rgba(110, 108, 108, 0.3);
  height: 99%;
  background-color: white;
  border-bottom-left-radius: 20px;
}

//FILA SHELF IMPERDIBLE Y TOP (PARA TI)

.flexRow--row-imperdible-top {
  width: 90%;
  margin-top: 3%;
  margin-left: 93px;
  margin-bottom: 4%;
}

//COLULMNA IMPERDIBLE (PARA TI)

.flexCol--col-imperdible {
  margin-right: 20%;
  box-shadow: 2px 3px rgba(110, 108, 108, 0.3);
  border-radius: 20px;
  margin-left: 30px;
  width: 110% !important;
  background: white;
  max-width: 200%;
}

// COLUMNA TOP 10 (PARA TI)
@media screen and (min-width: 300px) {
  .flexCol--col-top-10 {
    box-shadow: 2px 3px rgba(110, 108, 108, 0.3);
    margin-left: 20%;
    width: 110% !important;
    border-radius: 20px;
    background: white;
  }
}

//CONTENEDOR SEGURO GUSTA (PARA TI)

.flexRow--contenedor-seguro-gusta {
  box-shadow: 2px 3px rgba(110, 108, 108, 0.3);
  width: 100%;
  margin-left: 20px;
  margin-bottom: 15px;
  border-radius: 20px;
  padding: 3%;
  align-items: center;
  background: white;
}

.flexColChild--productos-shelf-2 {
  margin-left: .8rem;
}

.flexRow--contenedor-row-ofertas{
  margin-left: .8rem;
}

//BACKGROUND DEL BODY (PARA TI)

.flexRow--body-para-ti {
  background: #f1f1f1;
}

//COLUMNA DE SHELF

.flexRow--body-para-ti {
  background: #f1f1f1;
}

.flexColChild--productos-shelf{
  height: 100%;
  width: 95%;
}

.flexCol--productos-shelf, .flexCol--productos-shelf-2 {
  margin-left: 6%;
}

//COLUMNA DE SHELF 2

.flexColChild--productos-shelf-2{
  height: 100%;
  width: 95%;
}

.flexColChild--col-imperdible, .flexColChild--col-top-10 {
  padding-left: 2%;
  padding-right: 1%;
}

//MOBILE PARA TI

.flexColChild--col-productos-shelf-1-mobile {
  margin-right: 30px;
}

//BACKGROUND DEL BODY (PARA TI)

.flexRow--body-para-ti-mobile {
  background: #f1f1f1;
  margin-top: -4px;
}

//CONTENEDOR SHELF OFERTAS PARA TI

.flexRow--container-mobile-shelf {
  padding: 15px;
  width: 100%;

  /* margin-left: 3.5%; */
  /* border-radius: 20px; */
  margin-bottom: 5%;
  margin-top: 3%;
  box-shadow: 2px 3px rgba(110, 108, 108, 0.3);
  background-color: white;
  height: 84%;
  border-radius: 20px;
}

.flexRow--container-mobile-shelf-1 {
  padding: 15px;
  width: 100%;

  /* margin-left: 3.5%; */
  /* border-radius: 20px; */
  margin-bottom: 5%;
  margin-top: 35px;
  box-shadow: 2px 3px rgba(110, 108, 108, 0.3);
  background-color: white;
  height: 84%;
  border-radius: 20px;
}

.flexRow--contenedor-especiales-para-ti {
  background: white;
}

//END LANDING PARA TI
