.notificationBarContainer {
  background-image: url(https://kayserltda.vteximg.com.br/arquivos/fondo-bottonBar.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  font-weight: 900;
  font-size: 11px;
  font-family: "Raleway", sans-serif;
}

.container {
  width: 80%;
}

@media (max-width: 991px) {
  .container {
    width: 95%;
  }
}

.infoCardContainer--info-card-home {
  max-width: 1520px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 0px;
}

:global(.vtex-flex-layout-0-x-flexRow--menu-footer) .label {
  color: #666;
  display: block;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: 800;
  text-align: left;
  width: 60%;
  white-space: break-spaces;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;

  :global(.vtex-styleguide-9-x-hideDecorators) {
    background-color: transparent;
    color: #fff;
    border: none;

    &::placeholder {
      color: #fff;
      font-size: 16px;
    }
  }

  :global(.vtex-button) {
    background-color: transparent;
    color: #fff;
    border: none;
    margin-right: -24px;
  }
}

.buttonContainer {
  padding-top: 0px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .infoCardContainer--info-card-home {
    .infoCardTextContainer {
      width: 30%;
    }

    .infoCardImageContainer {
      width: 70%;
    }
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview {
  .carouselContainer {
    justify-content: flex-start;
  }

  .productImageTag {
    object-fit: cover !important;
  }

  .carouselGaleryThumbs {
    display: none;
  }

  .carouselGaleryCursor {
    margin: 0;
    padding: 0;
    width: 100%;
  }
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

:global(.vtex-product-context-provider) .container {
  max-width: 90%;
}

.sizeDesktop {
  padding-left: 0px;
}

.imageElement--lovelust-img {
  margin-left: 1rem;
}

.skuSelectorItemImageValue {
  position: relative;
  top: -17px;
}


/* pdp kayser */
:global(.vtex-stack-layout-0-x-stackContainer--product) {
  .productImagesGallerySlide::before,
  .figure::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.045);
  }

  .carouselGaleryCursor{
    cursor: default;
    padding-left: 3px;
  }

  .productImagesThumb{
    margin-bottom: 3px;
  }
}

:global(.vtex-flex-layout-0-x-flexCol--right-col) {
  .productBrand--quickview{
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    text-transform: uppercase;
  }
  :global(.vtex-product-identifier-0-x-product-identifier--productReference) {
    color: #4d4d4d;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    font-weight: 400;

    :global(.vtex-product-identifier-0-x-product-identifier__label) {
      font-size: 0;

      &::before {
        content: "Cod";
        font-size: 13px;
      }
    }
  }

  :global(.vtex-product-price-1-x-listPrice) {
    color: #666;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 600;
  }

  :global(.vtex-product-price-1-x-sellingPriceValue) {
    color: #ff0000;
    font-family: "Raleway", sans-serif;
    font-size: 20px;
    font-weight: 800;
  }

  :global(.vtex-product-price-1-x-currencyCode) {
    margin-right: 4px;
  }

  .skuSelectorName,
  .skuSelectorNameSeparator {
    color: #888;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    font-weight: 800;
  }

  :global(.vtex-store-components-3-x-skuSelectorSelectorImageValue) {
    display: none;
  }

  .skuSelectorSubcontainer--talla {
    .skuSelectorName::after {
      content: ":";
    }

    .skuSelectorItem {
      height: auto;
    }

    .skuSelectorInternalBox {
      border: revert;
      &:hover {
        box-shadow: 3px 3px 2px rgb(79 135 224 / 60%);
        transition: all 0.4s ease-in-out;
      }
    }

    .skuSelectorItemTextValue{
      border: 1px solid #ccc;
      border-radius: 3px;
      font-family: "Raleway", sans-serif;
      font-size: 13px;
      font-weight: 800;
      padding: 0.4rem;
      &:hover {
        background-color: #2a86e4;
        border: 1px solid #ccc;
        color: white;
        transition: all 0.4s ease-in-out;
      }
    }

    .skuSelectorItem--selected {
      background-color: #2a86e4;
      border-radius: 3px;
      box-shadow: 3px 3px 2px rgb(79 135 224 / 60%);

      .skuSelectorItemTextValue{
        color: white;
      }
    }

    .frameAround {
      display: none;
    }
  }

  .diagonalCross {
    background-image: linear-gradient(
      to top left,
      transparent 44%,
      rgba(255, 0, 0, 0.2) 50%,
      currentColor 48%,
      currentColor 52%,
      transparent 52%
    );
    opacity: .2;
    cursor: not-allowed;
  }

  .valueWrapper--unavailable{
    cursor: none;
    pointer-events: none;
    opacity: .2;
    &:hover{
    }
  }

  :global(.vtex-product-quantity-1-x-quantitySelectorTitle) {
    display: none;
  }

  :global(.vtex-numeric-stepper__minus-button),
  :global(.vtex-numeric-stepper__plus-button) {
    background-color: white;
    border: 1px solid #ccc;
    height: 36px;
  }

  :global(.vtex-numeric-stepper__minus-button__text),
  :global(.vtex-numeric-stepper__plus-button__text) {
    color: black;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    font-weight: 400;
  }

  :global(.vtex-numeric-stepper__input) {
    border-bottom: 1px solid #ccc;
    border-left: none;
    border-right: none;
    border-top: 1px solid #ccc;
    color: #666;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    font-weight: 700;
    height: 36px;
    width: 48px;
  }

  :global(.vtex-product-quantity-1-x-quantitySelectorContainer) {
    margin-bottom: 0;
  }

  :global(.vtex-modal-layout-0-x-triggerContainer) {
    align-self: center;

    :global(.vtex-menu-2-x-styledLinkContainer) {
      margin-left: 0;
      margin-right: 0;
    }

    :global(.vtex-menu-2-x-styledLinkContent) {
      justify-content: flex-start;
      align-items: center;
      color: #4d4d4d;
      font-weight: bold;
      font-size: 13px;
      font-family: "Raleway", sans-serif;
    }
  }

  :global(.vtex-button) {
    background-color: #2a86e4;
    border: none;
    height: 36px;
    min-height: 36px;
  }

  :global(.vtex-button__label) {
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    font-weight: 800;
    text-transform: capitalize;
  }

  :global(.vtex-menu-2-x-styledLinkContainer--caracteristicas-producto) {
    margin-left: 0;
  }

  :global(.vtex-menu-2-x-menuItem--caracteristicas-producto)
    :global(.vtex-menu-2-x-styledLinkContent--caracteristicas-producto) {
    align-items: center;
    color: #4d4d4d;
    font-size: 13px;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
  }

  :global(.vtex-menu-2-x-accordionIcon--caracteristicas-producto) {
    color: #4d4d4d;
    font-size: 20px;
  }

  :global(.vtex-menu-2-x-menuItem--caracteristicas-producto) {
    .productDescriptionTitle {
      display: none;
    }

    :global(.vtex-menu-2-x-submenuAccordion) {
      display: block;
      text-align: center;
      padding-left: 0;

      :global(.vtex-flex-layout-0-x-flexRowContent) {
        margin-bottom: 0;

        :global(.vtex-store-components-3-x-content) {
          color: #4d4d4d;
          font-family: "Raleway", sans-serif;
          font-size: 13px;
          font-weight: 400;
        }
      }
    }
  }

  :global(.vtex-store-components-3-x-shareLabel) {
    font-size: 0;

    &::after {
      color: #4d4d4d;
      content: "Comparte este producto:";
      font-size: 13px;
      font-family: "Raleway", sans-serif;
      font-weight: 700;
    }
  }

  :global(.vtex-button):hover {
    opacity: 0.7;
    transition: all 0.4s ease-in-out;
  }

  :global(.vtex-flex-layout-0-x-flexRow--buy-button) .stretchChildrenWidth {
    padding-right: 0px;
  } 
}
/* end pdp kayser */

/* colors kayser */

.skuSelectorContainer{
  .skuSelectorSubcontainer--color{
    .skuSelectorNameContainer{
      .skuSelectorOptionsList{
        .skuSelectorItem{
          height: 20px;
          width: 20px;
          .skuSelectorInternalBox{
            border-radius: 50%;
          }
          .frameAround{
            border: 2px solid #2a86e4;
            box-shadow: 3px 2px 3px rgb(107 107 107 / 60%);
            border-radius: 50%;
            bottom: -.15rem;
            left: -.15rem;
            right: -.15rem;
            top: -.15rem;
          }
          .skuSelectorItemImageValue{
            display: none;
          }
          &--branco{
            background-color: white;
          }

        }
      }
    }
  }
}

/* end colors kayser */

/* vtex toast */
:global(.vtex-toast) {
  background-color: #2a86e4;
}

//LANDING PARA TI

//IMAGEN SHELF 1

.imageElement--img-shelf {
  width: 115%;
  padding-right: 10%;
  max-width: 115%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

//IMAGEN SHELF 2

.imageElement--img-shelf-2 {
  width: 115%;
  padding-right: 10%;
  max-width: 115%;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}

.img-banner {
  width: 45%;
}

//ENDLANDING PARA TI 