:global(.vtex-flex-layout-0-x-flexCol--right-col) {
  .container {
    text-align: center;
  }

  :global(.vtex-flex-layout-0-x-flexRowContent--breadcrumb-prod) {
    margin-top: 0px;
  }

  .homeLink,
  .arrow--1
    .caretIcon{
    display: none;
  }

  .link,
  .term{
    color: #4d4d4d;
    font-family: "Raleway", sans-serif;
    font-size: 13px;
    font-weight: 700;
  }
}
