:global(.vtex-flex-layout-0-x-flexRowContent--navbar) {
    .submenuContainer {}
  
    .submenuWrapper--isOpen {
      border: 1px solid #ccc;
  
      /* margin-top: 7px; */
      padding: 2rem;
  
      .menuItem {
        align-self: start;
      }
  
      .submenu {
        flex-flow: wrap;
  
        :global(.vtex-rich-text-0-x-link--btn-more) {
          background: #2a86e4;
          color: white;
          border-radius: 4px;
          font-family: 'Raleway', sans-serif;
          text-decoration: none;
          font-weight: bold;
          padding: .5rem 1rem;
          font-size: .8rem;
        }
      }
    }
  }
  
  /* submenú para desktop */
  @media (min-width: 991px) {
    .submenuContainer :global(.vtex-flex-layout-0-x-flexRow) {
      width: 100%;
    }
  }
  
  /* header desktop */
  
  :global(.vtex-flex-layout-0-x-flexRowContent--navbar-mobile) {
    .styledLinkContainer--orders {
      margin-left: 0;
      margin-right: 0;
    }
  
    :global(.vtex-minicart-2-x-minicartContainer) {
      :global(.vtex-button__label) {
        padding-left: 0;
      }
  
      :global(.vtex-minicart-2-x-minicartIconContainer) {
        color: #3F3F40;
      }
    }
  }
  
  .menuContainerNav--rrss-footer {
    margin-bottom: 1rem;
  }
  
  .menuContainer--rrss-footer .styledLinkContainer {
    margin-right: 0px;
  }
  
  .menuContainerNav--rrss-footer .menuItem:nth-child(even) .styledLinkContainer {
    margin-left: 0px;
  }