.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}

.container--shelfTitle {
  color: #4d4d4d;
  justify-content: center;
  text-align: center;
}

.headingLevel2--shelfTitle {
  font-family: "Raleway", sans-serif;
  font-size: 20px;
  font-weight: 800;
  text-transform: uppercase;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
}

.container--question {
  justify-content: center;

  .paragraph {
    text-align: center;
    max-width: 540px;
    margin: 0 16px;
    padding-top: 120px;
    color: #03034e;
  }

  .strong {
    font-size: 32px;
    line-height: 2rem;
    font-weight: 700;
  }
}

.container--link {
  .paragraph {
    text-align: center;
    max-width: 540px;
    padding-top: 36px;
    padding-bottom: 84px;
    color: #03034e;
  }

  .strong {
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
  }

  .link {
    text-decoration: none;
    font-size: 36px;
    font-weight: 300;
    color: #03034e;
  }
}

.container--title {
  color: #03034e;
  font-size: 28px;
  font-weight: 700;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #03034e;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;

    .paragraph {
      line-height: 1.3em;
    }
  }
}

/* textos: institucionales */

.heading--txt-institucional--title {
  color: #909090;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
  margin-bottom: 1rem;
}

.paragraph--txt-institucional--p {
  color: #555;
  font-family: "Fira Sans", sans-serif;
  font-size: 13px;
  font-weight: 300;
  line-height: 1.4rem;
  margin-bottom: 1.3rem;
}

@media (max-width: 991px) {
  .wrapper--txt-institucional--title,
  .wrapper--txt-institucional--p {
    margin: 0 3.5rem;
  }
}

/* textos landing 1 */

.paragraph--text-top {
  margin: 0;
}

.container--text-top {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 50px;
  font-weight: 800;
  margin: 0 auto;
  justify-content: center;
}

.paragraph--text-down {
  margin: 0;
}

.container--text-down {
  font-family: "Raleway", sans-serif;
  color: white;
  font-size: 30px;
  justify-content: center;
}

/*sostenes text container*/

.paragraph--sosten-text {
  margin: 0;
}

.container--sosten-text {
  font-size: 50px;
  font-weight: 700;
  color: black;
}

.container--descripcion-sosten-text {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-align: left;
  margin-bottom: 20px;
  font-weight: 600;
  color: #2d2d2d;
}

.paragraph--descripcion-sosten-text {
  margin: 0;
  line-height: 1.1;
}

.container--talla-sosten {
}

.paragraph--talla-sosten {
  font-family: "Raleway", sans-serif;
  color: #ff028b;
  font-size: 20px;
  font-weight: 800;
  margin: 0 auto;
}

/*calzon text container*/

.paragraph--calzon-text {
  margin: 0 auto;
  font-size: 50px;
  font-weight: 700;
  color: black;
}

.container--descripcion-calzon-text {
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  text-align: right;
  margin-bottom: 20px;
  font-weight: 600;
  color: #2d2d2d;
}

.paragraph--descripcion-calzon-text {
  margin: 0;
  line-height: 1.1;
}

.paragraph--text-nueva-temporada {
  font-family: "Raleway", sans-serif;
  color: #ff0289;
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}

.container--text-nueva-temporada {
  justify-content: center;
}

.paragraph--text-entre-nosotras {
  font-family: "Raleway", sans-serif;
  color: #f91e93;
  font-weight: 500;
  font-size: 30px;
  margin: 10%;
}

.container--text-entre-nosotras {
  font-family: "Raleway", sans-serif;
  color: #f91e93;
  font-weight: 500;
  font-size: 30px;
}

.container--despacho-rm {
  justify-content: center;
}

.paragraph--despacho-rm {
  color: #267cb6;
  font-size: 11px;
  font-weight: 700;
  padding: 10px;
}

.container--falta-rm {
  justify-content: center;
}

.paragraph--falta-rm {
  font-size: 8px;
  color: #2d2d2d;
  padding: 10px;
}

//LANDING PARA TI 

//ESPECIALES PARA TI
@media screen and (min-width: 300px) {
  .paragraph--especiales-parati {
    margin: 1.5rem 2rem;
    font-size: 30px;
    font-weight: 700;
    font-family: var(--font-1);
    color: var(--color-2);
    font-family: raleway;
  }
}

//Titulo Landing PARA TI

.paragraph--titulo-shelf-1 {
  margin: 1.5rem 2rem;
  font-size: 30px;
  font-weight: 700;
  font-family: var(--font-1);
  color: var(--color-2);
  font-family: raleway;
}

.paragraph--titulo-shelf-3 {
  /* font-size: 1.2rem; */
  font-weight: 700;
  font-size: 30px;
  margin-left: 30px;
  font-family: var(--font-1);
  color: var(--color-2);
  font-family: raleway;
}

//SEGURO TE GUSTA

.paragraph--titulo-seguro {
  font-weight: 700;
  font-size: 30px;
  margin-left: 450px;
  font-family: raleway;
}

//MOBILE

//TITULO SHELF 1

.paragraph--titulo-shelf-1-mobile {
  font-weight: 600;
  font-size: 23px;
  font-family: var(--font-1);
  color: var(--color-2);
  margin-left: 15px;
  font-family: raleway;
}

//TITULO SHELF 2

.paragraph--titulo-shelf-3-mobile {
  font-weight: 600;
  font-size: 20px;
  font-family: var(--font-1);
  color: var(--color-2);
  margin: 1rem 1rem;
  font-family: raleway;
}

//END LANDING PARA TI 