/*landing 01*/

.label--btn-sosten-text {
  background-color: #ff0289;
  border-radius: 4px;
  display: flex;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  padding: 12px 10px;
  text-decoration: none;
  justify-content: center;
}

.link--btn-sosten-text {
  text-decoration: none;
}

.label--btn-calzon-text {
  background-color: #ff0289;
  border-radius: 4px;
  display: flex;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  font-weight: bold;
  padding: 12px 10px;
  text-decoration: none;
  justify-content: center;
}

.link--btn-calzon-text {
  text-decoration: none;
}

/*btn categorias img*/

.label--btn-categorias {
  margin-top: 30px;
  background: rgb(255, 255, 255);
  padding: 2px 30px;
  border: 3px solid white;
  color: #ff028b;
  font-size: 18px;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
}

.link--btn-categorias {
  text-decoration: none;
}

/*btn tallas*/

.label--talla-sosten {
  background-color: white;
  border: 0px;
  color: #ff0289;
  font-size: 16px;
  font-weight: 600;
  padding: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

.link--talla-sosten {
  justify-content: center;
  text-decoration: none;
  margin: 0 auto;
  padding: 0 auto;
}

.label--talla-calzon {
  background-color: white;
  border: 0px;
  color: #ff0289;
  font-size: 16px;
  font-weight: 600;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Raleway", sans-serif;
}

.link--talla-calzon {
  justify-content: center;
  text-decoration: none;
  margin: 0 auto;
  padding: 0 auto;
}

/*btn links categoria dos*/

.link--btn-categoria-dos {
  border: 3px solid #ff028b;
  background: #ff028b;
  padding: 2px 30px;
  color: #fff;
  font-size: 18px;
  transition: all 0.5s;
  border-radius: 4px;
  font-weight: 600;
  cursor: pointer;
  width: 70%;
  text-align: center;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
}